.loader {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  z-index: $zindex-tooltip + 10;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -21px 0 0 -21px;
    border: 3px solid rgba(255, 255, 255, .15);
    border-radius: 50%;
    border-top-color: rgba(255, 255, 255, .75);
    width: 42px;
    height: 42px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
