  // main swiper
  .main-swiper {
    display: block;
    overflow: hidden;
    @include size(100%);

    .swiper-wrapper {
      height: 100%;
    }

    .ch5-viewchild {
      display: block;
      overflow: hidden;
      overflow-y: auto;
      margin: 0;
      transform: translate3d(0px, 0px, 0px);
    }
  }

  // thumbnail swiper
  .swiper-thumb {
    min-height: 120px;

    .ch5-list-horizontal {
      display: flex;
      justify-content: space-between;
      text-align: center;

      @media (min-width:410px) {
        transform: translate3d(0px, 0px, 0px) !important;
      }
    }

    .list-item {
      border-radius: 0;
      flex: 1;
      min-width: 82px;
      padding: 10px 5px;

      &:first-child {
        padding-left: 10px;
      }

      &:last-child {
        padding-right: 10px;
      }

      ch5-button {
        display: block;

        .ch5-button {
          opacity: 0.35;
          border: 0;
          border-radius: 0;
          color: $white;
          @include size(100%, 100px);

          .cb-btn {
            padding: 0;
            @include size(100%);
          }

          &.ch5-button--selected {
            opacity: 1;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .ch5-button--label {
        display: block;
        font-size: rem-calc(24px);
        text-transform: uppercase;
        font-weight: 400;
        line-height: 1;
        padding: 2px 6px 6px;
        letter-spacing: 1px;
        margin: 0;
        @include text-truncate;
      }

      .ch5-button--img {
        fill: $white;
        text-shadow: 1px 1px 1px #777;
        margin: 0 auto;
        @include size(60px);
      }
    }

    @include media-breakpoint-down(sm) {
      min-height: 84px;

      .list-item {
        padding: 6px 3px;

        &:first-child {
          padding-left: 6px;
        }

        &:last-child {
          padding-right: 6px;
        }

        ch5-button .ch5-button {
          height: 72px;
        }

        .ch5-button--img {
          @include size(36px);
        }
      }
    }
  }

  .thumb-action {
    display: none;
  }

  @include media-breakpoint-maxheight(460px) {
    .thumb-action {
      display: block;
      position: fixed;
      bottom: 0;
      left: 50%;
      margin-left: -16px;
      animation: floating 15s infinite ease-in-out;
      z-index: $zindex-fixed;

      svg {
        @include size(32px);
        transform: rotate(90deg);
      }
    }

    .swiper-thumb {
      position: fixed;
      left: 0;
      right: 0;
      top: 100%;
      transition: transform 300ms ease-out;
      -webkit-transform: none;
      transform: none;
      z-index: ($zindex-fixed - 2);

      &.open {
        transition: transform 300ms ease-out;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);

        &+.thumb-action {
          display: none;
          animation: none;
        }
      }
    }
  }
