<section class="details-container">
  <h1 class="text-uppercase" data-ch5-i18n="-+buttons.title+-"></h1>
  <p class="lead desc-title" data-ch5-i18n="-+buttons.descripton+-"></p>
  <hr />
  <h3 data-ch5-i18n="-+buttons.gradient.title+-"></h3>
  <div class="btn-group">
    <ch5-button class="shadow-pulse-gradient-button" customClass="gradient-button--peach" shape="rounded-rectangle"
      label="-+buttons.gradient.btn.peach+-"></ch5-button>
    <ch5-button class="shadow-pulse-gradient-button" customClass="gradient-button--purple" shape="rounded-rectangle"
      label="-+buttons.gradient.btn.purple+-"></ch5-button>
    <ch5-button class="shadow-pulse-gradient-button" customClass="gradient-button--blue" shape="rounded-rectangle"
      label="-+buttons.gradient.btn.blue+-"></ch5-button>
    <ch5-button class="shadow-pulse-gradient-button" customClass="gradient-button--aqua" shape="rounded-rectangle"
      label="-+buttons.gradient.btn.aqua+-"></ch5-button>
  </div>
  <hr />
  <h3 data-ch5-i18n="-+buttons.standard.title+-"></h3>
  <div class="btn-group">
    <ch5-button class="shadow-pulse-button" type="primary" shape="rectangle" label="-+buttons.standard.btn.primary+-">
    </ch5-button>
    <ch5-button class="shadow-pulse-button" type="default" shape="rectangle" label="-+buttons.standard.btn.default+-">
    </ch5-button>
    <ch5-button class="shadow-pulse-button" type="secondary" shape="rectangle"
      label="-+buttons.standard.btn.secondary+-"></ch5-button>
    <ch5-button class="shadow-pulse-button" type="success" shape="rectangle" label="-+buttons.standard.btn.succes+-">
    </ch5-button>
    <ch5-button class="shadow-pulse-button" type="info" shape="rectangle" label="-+buttons.standard.btn.info+-">
    </ch5-button>
    <ch5-button class="shadow-pulse-button" type="warning" shape="rectangle" label="-+buttons.standard.btn.warning+-">
    </ch5-button>
    <ch5-button class="shadow-pulse-button" type="danger" shape="rectangle" label="-+buttons.standard.btn.danger+-">
    </ch5-button>
  </div>
  <hr />
  <h3 data-ch5-i18n="-+buttons.outlined.title+-"></h3>
  <div class="btn-group">
    <ch5-button class="outline-animate-button" customClass="outline-button" type="primary" shape="rectangle"
      label="-+buttons.outlined.btn.primary+-"></ch5-button>
    <ch5-button class="outline-animate-button" customClass="outline-button" type="default" shape="rectangle"
      label="-+buttons.outlined.btn.default+-"></ch5-button>
    <ch5-button class="outline-animate-button" customClass="outline-button" type="secondary" shape="rectangle"
      label="-+buttons.outlined.btn.secondary+-"></ch5-button>
    <ch5-button class="outline-animate-button" customClass="outline-button" type="success" shape="rectangle"
      label="-+buttons.outlined.btn.succes+-"></ch5-button>
    <ch5-button class="outline-animate-button" customClass="outline-button" type="info" shape="rectangle"
      label="-+buttons.outlined.btn.info+-"></ch5-button>
    <ch5-button class="outline-animate-button" customClass="outline-button" type="warning" shape="rectangle"
      label="-+buttons.outlined.btn.warning+-"></ch5-button>
    <ch5-button class="outline-animate-button" customClass="outline-button" type="danger" shape="rectangle"
      label="-+buttons.outlined.btn.danger+-"></ch5-button>
  </div>
  <hr />
  <h3 data-ch5-i18n="-+buttons.icon.title+-"></h3>
  <div class="btn-group">
    <ch5-button class="shadow-pulse-button" type="primary" shape="circle" label="" iconClass="fa fa-address-book">
    </ch5-button>
    <ch5-button class="shadow-pulse-button" type="secondary" shape="circle" label="" iconClass="fa fa-calendar">
    </ch5-button>
    <ch5-button class="shadow-pulse-button" type="danger" shape="circle" label="" iconClass="fa fa-bookmark">
    </ch5-button>
    <ch5-button class="shadow-pulse-button" type="primary" shape="circle" label="" iconClass="fab fa-bluetooth-b">
    </ch5-button>
    <ch5-button class="shadow-pulse-button" type="success" shape="circle" label="" iconClass="fa fa-bell"></ch5-button>
    <ch5-button class="shadow-pulse-button" type="secondary" shape="circle" label="" iconClass="fa fa-download">
    </ch5-button>
    <ch5-button class="shadow-pulse-button" type="warning" shape="circle" label=""
      iconClass="fas fa-envelope-open-text"></ch5-button>
    <ch5-button class="shadow-pulse-button" type="default" shape="circle" label="" iconClass="fas fa-award">
    </ch5-button>
    <ch5-button class="shadow-pulse-button" type="danger" shape="circle" label="" iconClass="fas fa-camera">
    </ch5-button>
    <ch5-button class="shadow-pulse-button" type="success" shape="circle" label="" iconClass="fa fa-book">
    </ch5-button>
  </div>
  <hr />
  <h3 data-ch5-i18n="-+buttons.orientation.title+-"></h3>
  <br /><br />
  <div class="btn-group">
    <ch5-button type="primary" shape="rectangle" label="-+buttons.orientation.btn.horizontal+-"
      orientation="horizontal"></ch5-button>
    <ch5-button type="secondary" shape="rectangle" label="-+buttons.orientation.btn.vertical+-" orientation="vertical">
    </ch5-button>
  </div>
  <p></p>
</section>
